body {
    background-image: url("/img/main.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;

}

.container {
    background-color:#ffffffdb;
}

ul {
    list-style: none;
}

@media screen and (max-width:480px){
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }
}

/* main */

header{
    position: relative;
    width: 100%;
    background-color: #737373c7;
    height: 85px;
}
@media screen and (max-width:480px){
    header {
       height: 65px;
    }
}
.title {
    width: 400px;
}

.title a {
    color: #fff;
}

.title a span {
    font-size: 15px;
    margin-left: 10px;
}
@media screen and (max-width:480px){
    .title a span {
        font-size: 10px;
        margin-left: 5px;
    }
}


ul > li{
    display: inline-block;
}
ul > li > a{
    padding: 15px 30px;
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: .2em;
}
ul > li > span{
    margin-left: 1.2em;
}
ul > li:hover > a{
    background-color: #efefef;
    color: #444;
}

/* Submenu */

ul li ul{
    position: absolute;
    top: 55px;
    left: 0;
}
ul li ul li{
    display: block;
}
ul li ul li a{
    background-color: #989898c7;
    color: #fff;
}
ul li ul li a:hover{
    background-color: #ddd;
}

header ul li ul{
    display: none;
}
header ul li:hover ul{
    display: block;
}

/* wrapper*/
.title__wrapper, .cocktailSearch__wrapper, .results__wrapper,
.cocktail__wrapper, .cocktailElements__wrapper, .createCocktail__wrapper {
}

.title__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title__wrapper ul {
    margin-left: 50px;
}

.cocktail__wrapper p {
    margin-left: 20px;
}

.results__wrapper {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    flex-wrap: wrap;
}

.results__wrapper ul {
    width: 130px;
    margin: 5px;
    font-size: 80%;
}


/* block */
.createCocktail__block, .createCocktailElements__block {
}

/* inner */
/* 材料を選択するインナー */
.elements-select__inner {
    display: inline-block;
}

select.category {
    margin-left: 20px;
    width: 150px;
    height: 130px;
    float: left;
}
@media screen and (max-width:480px){
    select.category {
        height: 32px;
    }
}

select.elements {
    margin-left: 20px;
    width: 200px;
    height: 130px;
    float: left;
}
@media screen and (max-width:480px){
    select.elements {
        height: 32px;
    }
}

.amount-input {
    margin-left: 20px;
    width: 100px;
}

.submit-elements {
    height: 35px;
}


/* table */
.table-header-sm {
    width: 80px;
}

.table-data-sm {
    width: 80px;
}

.table-header-md {
    width: 130px;
}

.table-data-md {
    width: 200px;
}

.table-data-lg {
    width: 250px;
}

@media screen and (max-width:480px){
    .table-header-sm {
        width: 30px;
    }

    .table-data-sm {
        width: 50px;
    }

    .table-header-md {
        width: 110px;
    }

    .table-data-md {
        width: auto;
    }
}
/*
.detail-elements-table {
    margin-left: 20px;
}

.detail-elements-table tr th {
    width: 130px;
}

.detail-elements-table tr td {
    width: 200px;
}
 */
.elements-table {
    width: 700px;
}
@media screen and (max-width:480px) {
    .elements-table {
        width: auto;
    }
}

.elements-table tr td input {
    width: auto;
}


/* 要素 */
input[type=radio], input[type=checkbox] {
    display: none;
}

input[type="radio"]:checked + label {
    background: #737373;/* マウス選択時の背景色を指定する */
    color: #ffffff;     /* マウス選択時のフォント色を指定する */
}

.radio-label:hover {
    background-color: #989898;  /* マウスオーバー時の背景色を指定する */
    color: #ffffff;
}

.radio-label {
    display: block;
    /* float: left; */
    /* margin: 5px; */
    /* width: 75px; */
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
    color: #737373;
    text-align: center;
    line-height: 27px;
    cursor: pointer;
    border: 2px solid #989898;
    border-radius: 5px;
    font-size: 0.5rem;
}

.checkbox-span{
    padding-left: 18px;
    position: relative;
    margin-right: 10px;
    color: #989898;
}

.checkbox-span::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

.checkbox-input:checked + .checkbox-span{
    color: inherit;
}

.checkbox-input:checked + .checkbox-span::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #737373;
  border-right: 3px solid #737373;
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.display-inline {
    display: inline-block;
}

.display-flex {
    display: inline-flex;
}
@media screen and (max-width:480px){
    .display-flex {
        margin-bottom: 15px;
    }
}

.name-search-input {
    width: 300px;
}

.input-text-1 {
    width: 100%;
}

.form-input-check {
    margin-left: 30px;
}

.float-left {
    float: left;
}

.input-errors div {
  color: #ff0000;
}
