#AuthUserFile /opt/lampp/htdocs/cocktail.com/.htpasswd
#AuthUserFile /Users/hatamasa/program/cocktail.com/.htpasswd
AuthUserFile /app/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
