#AuthUserFile /opt/lampp/htdocs/cocktail.com/.htpasswd
#AuthUserFile /Users/hatamasa/cocktail.com/.htpasswd
AuthUserFile /app/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and password"
AuthType Basic
require valid-user

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<ifModule mod_headers.c>
    # CACHE media files for 30days
    <Files ~ ".(gif|jpe?g|png|ico|js|gz)$">
        Header set Cache-Control "max-age=2592000"
    </Files>

    # CACHE media files for 12hours
    <Files ~ ".(css)$">
        Header set Cache-Control "max-age=43200"
    </Files>
</ifModule>